@font-face {
    font-family: 'Segoe UI';
    src: url('assets/segoe.ttf') format('truetype');
}
 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
 
body {
  background-color: #f7f7f7;
}